@tailwind base;
@tailwind components;
@tailwind utilities;


.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
      transform: scale(0);
  }

  50% {
      transform: scale(1.25);
  }

  100% {
      transform: scale(1);
  }
}

.slide-fade-from-left-enter-active,
.slide-fade-from-right-enter-active, 
.slide-fade-from-up-enter-active,
.slide-fade-from-down-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-from-left-leave-active,
.slide-fade-from-right-leave-active, 
.slide-fade-from-up-leave-active,
.slide-fade-from-down-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-from-right-enter-from,
.slide-fade-from-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.slide-fade-from-left-enter-from,
.slide-fade-from-left-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}
.slide-fade-from-down-enter-from,
.slide-fade-from-down-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
.slide-fade-from-up-enter-from,
.slide-fade-from-up-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.appear-enter-active,
.appear-leave-active {
  transition: opacity 0.3s ease;
}

.appear-enter-from,
.appear-leave-to {
  opacity: 0;
}

